target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
*.properties
controller/Auth.java
controller/LogIn.java
.ebextensions/
.platform/
.gitignore

### Mac OS ###
.DS_Store