target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
*.properties
/src/main/java/com/triviabuild/controller/Auth.java
/src/main/java/com/triviabuild/controller/LogIn.java
/src/main/.platform/
/src/main/.ebextensions
/src/main/java/com/triviabuild/auth

### Mac OS ###
.DS_Store