files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDLjCCAhYCCQCh39eU9nzp1TANBgkqhkiG9w0BAQsFADBZMQswCQYDVQQGEwJV
      UzEOMAwGA1UECAwFVGV4YXMxEzARBgNVBAcMCkh1bnRzdmlsbGUxJTAjBgkqhkiG
      9w0BCQEWFmtlaXRobGllbmVydEBnbWFpbC5jb20wHhcNMjMwNTIzMTMwMjE3WhcN
      MjQwNTIyMTMwMjE3WjBZMQswCQYDVQQGEwJVUzEOMAwGA1UECAwFVGV4YXMxEzAR
      BgNVBAcMCkh1bnRzdmlsbGUxJTAjBgkqhkiG9w0BCQEWFmtlaXRobGllbmVydEBn
      bWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC17eswKIK2
      MMU4+306JVMs22nuu+xm/XElyoM76BTJCpv0+zUgB2Aine3yMvMURi+Yti+teERN
      kCLsm2BrHo7myruilehN1Z9pTMuUC6WUIOpNfCMLFwSeiOCDcFobM1OrS56RIkHz
      WIJNzQIW8eTxILTd1JMh3CXkbADLyTWW+C7iU3PUQNDLGl6XN81n3mOY+fb/yLpQ
      rDnBz0iMhi9AIKjQOkFvsol2ojXoAu8FtSyskYef+3youxJAFEao7LCKDhjJKefB
      10r/MFpLUs+bW+4XFwRQsXYlwCJ37rTDd5N/3vQkzYLxtWhPCvQ4jR25LxL3S3tv
      yIHnCcH74DWFAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAD3/TzaC97hjzUw4YD+O
      D+r9bpN4bVqAPdxS7Nm6ukoP0yID4F7CyHFNeTIdOu2BpaSDPC/8ODWh9Puykrq0
      fMC9JQGaRDH14Cwec7ds1OKsUvHHq5wvcZ8CDvoKXeNRxPm2vLMXAo0IGeaYkGYI
      tCk0VWVBPZtt4wubyesKa2b1gEehQ5YKVsrDJ0Rbnp+SLROvoEyULNoHJjiEUjQI
      RLkLl4Qj8fxpPHipKTF3pmtJEt4+zUiRGmecV0lt/Iefj4MOwC0C+KCfHplwUUw3
      UakF4sZXjSWIC+vSf1XZrBeISLlTuUkzMJHB9qQgiAUxLVQTDCobPy0Pa4jLaV6u
      J3o=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAte3rMCiCtjDFOPt9OiVTLNtp7rvsZv1xJcqDO+gUyQqb9Ps1
      IAdgIp3t8jLzFEYvmLYvrXhETZAi7Jtgax6O5sq7opXoTdWfaUzLlAullCDqTXwj
      CxcEnojgg3BaGzNTq0uekSJB81iCTc0CFvHk8SC03dSTIdwl5GwAy8k1lvgu4lNz
      1EDQyxpelzfNZ95jmPn2/8i6UKw5wc9IjIYvQCCo0DpBb7KJdqI16ALvBbUsrJGH
      n/t8qLsSQBRGqOywig4YySnnwddK/zBaS1LPm1vuFxcEULF2JcAid+60w3eTf970
      JM2C8bVoTwr0OI0duS8S90t7b8iB5wnB++A1hQIDAQABAoIBAFMoQQxuN/EXMc7u
      BTuCvBYQ5Mbe1xvsVL+1ZW8Ikhei5c6A1LOjK2onThAbAckOm8rt27Uq9+2MKKqG
      Cvhrq14K5OFYLCsHrinvlE5DVJf0w6RPTaVQDCh64ES0Iju0plXx5rToN8UHe+gc
      AQyD3OXq0UFkXSxo+FkElQiRHBG48krZHJcEp0skKjV/fT/LJI13DFOt+NPsaj3f
      1/Wj9y7cw3z68H/60BMSAwOmtZXNBz/mgTetuVPYIEPpAxl8wlrLm+K/IXI2qZoV
      g4vdv3JSgJw3dLM/9uuKXCGrpwWo4w4/G1stOC/6ZBalm8uAVxiZd6cHEuqKVBgj
      BgYrKIECgYEA2EP0cHG8bBwhueKxAkkaMC1QcAEluTQqSQSi2FBjyx/JFH+EFDv+
      xAas3szq13n3LqbohQIyJL8Oym9iH+fKN+xXcFBF9DWP+QIbilLxjgqsen5/ultk
      PGARmSx7xVxPLQ6Au8GcrKUZ9MlPtSju70sPLm5jtekeLtHUsIlKZ40CgYEA11r3
      aG4YQFBj5kn/D8RHh+H5gFb7Oj/6uexc9pjxbvA2VTtcQurudrscJ6UcuvkBHqAN
      S4LTJT1OuC0MePp+55RUmNSLct6xqqd1kmTd/1noIwlclopNPcagw19G+CSI9lzW
      6IyvQMVAuk63OdsK5ZPBec9MzSKZhJf3c3nA69kCgYBXEVzLHG9Akz7cyLB8/BNo
      DAZTYZLfcmoHxa8OKadTsvNQpln1j4XtQ8a7WIK/x6HFjXsVeaHYe3cn9xnpQHeA
      dk1psVfIjvvsw3V1BhmsFw4DrwQbcgnz6LWNFoSqG5TgzfL0JGnAdCP0Ekxd4iH4
      Ax8UkWrhZP462U2o2U00TQKBgQCAvG9TrSSwJZ5ihu+DdFkyYKKu1tBd1OtEA4jb
      HTiOkehY8SBJHHmq3lWJWYmgN8Q0k4b/Edi41TpenQdstonwU9pydfRamcdpdaux
      9LxErnE3qJwBnfFosXle8XDSW7zIUV1jLN6DAKed9/pOCqQr8zTgZUzLABj3i4Sw
      MiNimQKBgQC/I//HgB8LQ9cFqXLkSMmVyDVkPLu6+lnodgI7zPX2AG3blJCAi7cQ
      8vzeTWwrFctv/oxcfe1pLqJZOVxUObPJ9K/fIvq0EYtcOht9CJH04tEwRk1UCN9o
      0wc9ctwmz026rV3EJj6MB2nZbVsqId4u6TgyNUMOFWGa5tQaMFzo6g==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart